<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246884512664-f25gvm1j4ji2hd1c3lcfm90vbleevevd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246884512664-f25gvm1j4ji2hd1c3lcfm90vbleevevd</string>
	<key>API_KEY</key>
	<string>AIzaSyBwKD1hcW5i9Z5xSM5QIqWvWjrFM3SaQKA</string>
	<key>GCM_SENDER_ID</key>
	<string>246884512664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akinator.TrackMyChild</string>
	<key>PROJECT_ID</key>
	<string>trackmychild-b056c</string>
	<key>STORAGE_BUCKET</key>
	<string>trackmychild-b056c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246884512664:ios:25d410516eae6dd6f071ed</string>
</dict>
</plist>